<div class="account account--register">
  <h2 class="account-info-title">{{ 'customer.register.title' | t }}</h2>

    {% form 'create_customer' %}
    {{ form.errors | default_errors }}

  <div class="form-row">
    <label for="FirstName" class="label-hidden label">
        {{ 'customer.register.first_name' | t }}
    </label>
    <input type="text"
           name="customer[first_name]"
           id="FirstName"
           class="input"
           placeholder="{{ 'customer.register.first_name' | t }}"
           autofocus
           {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
  </div>

  <div class="form-row">
    <label for="LastName" class="label-hidden label">
        {{ 'customer.register.last_name' | t }}
    </label>
    <input type="text"
           name="customer[last_name]"
           class="input"
           id="LastName"
           placeholder="{{ 'customer.register.last_name' | t }}"
           {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
  </div>

  <div class="form-row">
    <label for="Email" class="label-hidden label">
        {{ 'customer.register.email' | t }}
    </label>
    <input type="email"
           name="customer[email]"
           id="Email"
           class="{% if form.errors contains 'email' %}input-error{% endif %} input"
           placeholder="{{ 'customer.register.email' | t }}"
           value="{% if form.email %}{{ form.email }}{% endif %}"
           spellcheck="false"
           autocomplete="off"
           autocapitalize="off">
  </div>

  <div class="form-row">
    <label for="CreatePassword" class="label-hidden label">
        {{ 'customer.register.password' | t }}
    </label>
    <input type="password"
           name="customer[password]"
           id="CreatePassword"
           class="{% if form.errors contains 'password' %}input-error{% endif %} input"
           placeholder="{{ 'customer.register.password' | t }}">
  </div>

  <div class="form-row">
    <div class="button-row">
      <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--md">
      <a href="/" class="btn btn--md btn--white">Cancel</a>
    </div>
  </div>

    {% endform %}

</div>